.lazy-hover-video {
  position: relative;
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: transparent;
}

.lazy-hover-video video {
  display: block;
  width: 100%;
  height: 100%;
}
