:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --heading: system-ui, "Segoe UI", Roboto, sans-serif;
  --mono: "Space Mono", monospace;
  --nav-height: 74px;

  font: 18px/145% var(--sans);
  letter-spacing: 0;
  color-scheme: light;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

#root {
  min-height: 100svh;
  background: var(--bg);
}

body {
  margin: 0;
  color: var(--text);
  background: var(--bg);
  scroll-behavior: smooth;
}

::selection {
  background: #fff70065;
  color: #000;
}

.app-shell--with-nav .app-content {
  padding-top: var(--nav-height);
}

h1 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  line-height: 1.05;
  margin: 0;
  @media (max-width: 1024px) {
    font-size: 36px;
  }
}

p {
  margin: 0;
}

@media (max-width: 640px) {
  :root {
    --nav-height: 64px;
  }
}
